/.bashrc
/.config
/.idea
/.ipython
/.lightning_studio
/.lightningignore
/.ollama
/.vscode
/.zcompdump
/.zsh_history
/.zshrc
/.condarc
/.hushlogin
/.jupyter
/.docker
/.local
/.oh-my-zsh
/.profile
/.ssh
/venv
/__pycache__
/.sudo_as_admin_successful